* {
    font-family: Roboto;
}

#longBody {
    background-color: #232323;
}

html {
    width: 100%;
}

section {
    width: 100%;
    height: 100%;
    background-color: #232323;
    color: whitesmoke;
}

/* new try intro*/
.hide {
    display: none;
}

.intro {
    height: 100vh;
    width: auto;
    background-color: black;
}

.progress-bar {
    position: absolute;
    top: 50%;
    height: 2px;
    background: #232323;
    width: 0px;
}

.done {
    top: 0;
    height: 100%;
    width: 100%;
    transition: all .33s ease;
}

.count {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    margin-top: -1.33em;
    color: #af71af;
}

.hideMe {
    display: none;
}
/* new try intro end */

#aboutMe {
    background: #232323;
}

.introText {
    height: 600px;
    text-align: center;
    flex-direction: column;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.introText p {
    opacity: 1;
}

.spaceEven {
    justify-content: space-evenly;
}

.aboutContainer {
    height: 600px;
    flex-direction: column;
    padding-top: 100px;
}

.boxContainer {
    height: 300px;
    width: 300px;
    background: #1a1a1a;
    align-self: center;
    justify-content: center;
    box-shadow: 5px 5px 30px 15px rgb(0 0 0 / 53%);
    flex-direction: column;
}

.outerCircle {
    height: 250px;
    width: 220px;
    background-color: #603b5852;
    position: relative;
    top: -125px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.innerCircle {
    height: 200px;
    width: 170px;
    display: flex;
    align-self: center;
}

.introName {
    flex-direction: column;
    text-align: center;
    position: relative;
    top: -100px;
}

.name {
    font-size: 26px;
}

.socials {
    height: 44px;
    width: 300px;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    top: -70px;
}

.aboutMeText {
    margin: auto;
    background-color: #1a1a1a;
    box-shadow: 5px 5px 30px 15px rgb(0 0 0 / 53%);
    margin-bottom: 80px;
}

.aboutMeText p {
    margin: auto;
}

.TextContainer {
    padding: 25px 25px 25px 25px;

}

.cabecera {
    max-width: 100%;
}

.subTitulo {
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.centrado {
    text-align: center;
}

.fotoChica {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    top: 200px;
}

.skills {
    color: gray;
}

.favicon {
    width: 70px;
}

.banner {
    background-image: url("../../../assets/images/banner2.jpeg");
    background-size: cover;
    height: 300px;
}

.educLogo {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
    margin-inline: auto;
    inline-size: fit-content;
}

#expEd {
    margin-bottom: 60px;
}

.expText {
    display: flex;
    color: black;
    height: 50%;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}


.proyLogo {
    width: 250px;
    height: 200px;
    align-self: center;
}

.titulo {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 60px;
}

.boxHolder {
    min-height: 33vh;
    background: #060a3bc4;
    box-shadow: 4px 3px 10px 2px cornflowerblue;
}

.proyectoText {
    padding-left: 20px;
    align-self: center;
}

.proyectoText span {
    font-size: small;
    font-weight: bold;
    margin: auto;
}


.badge {
    margin-right: 7px;
}


/* cards */

.subTituloHard {
    margin-left: 5vw;
}

.frontSkillTitle {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 20px;
    font-weight: bold;
}

.openBracket{
    font-size: calc(165px);
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15), -5px -5px 30px 15px rgba(0, 0, 0, 0.15);
    width: 200px;
    height: 200px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: scale(0.9, 0.9);
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    position: relative;
    top: -20px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.card .card_image img {
    width: 75%;
    height: 75%;
    z-index: 2;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -50px;
    height: 40px;
}

.card:hover {
    transform: scale(1, 1);
}

.title-white {
    color: white;
    z-index: 3;
}

.title-black {
    color: black;
}

.card-1 {
    background-color: coral;
}

.card-2 {
    background-color: cornflowerblue;
}

.card-3 {
    background-color: #ffe760;
}

.card-4 {
    background-color: rgb(165, 0, 0);
}

.card-5 {
    background: #00059bde;
}

.card-6 {
    background: #03094c;
}

.card-7 {
    background: #5fd2f3;
}

.card-8 {
    background: #376400;
}

.card-9 {
    background: #ff8cf2;
}

.card-10 {
    background: #00ffbc;
}

.card-11 {
    background: #c77028;
}

.card-1:hover{
    box-shadow: 5px 5px 30px 7px rgba(227, 79, 38, 0.349), -5px -5px 30px 7px #ff7f5056;
}

.card-2:hover{
    box-shadow: 5px 5px 30px 7px #1b72ba57, -5px -5px 30px 7px #1c88c754;
}

.card-3:hover{
    box-shadow: 5px 5px 30px 7px #e9cb3257, -5px -5px 30px 7px #ffde2554;
}

.card-4:hover{
    box-shadow: 5px 5px 30px 7px #dd003050, -5px -5px 30px 7px #c3002e56;
}

.card-5:hover{
    box-shadow: 5px 5px 30px 7px #3776a954, -5px -5px 30px 7px #3776a954;
}

.card-6:hover{
    box-shadow: 5px 5px 30px 7px #03094c57, -5px -5px 30px 7px #28aace59;
}

.card-7:hover{
    box-shadow: 5px 5px 30px 7px #57bcd8, -5px -5px 30px 7px #5fd2f3;
}

.card-8:hover{
    box-shadow: 5px 5px 30px 7px #0062276b, -5px -5px 30px 7px #0062276b;
}

.card-9:hover{
    box-shadow: 5px 5px 30px 7px #b200df5e, -5px -5px 30px 7px #b200df5e;
}

.card-10:hover {
    box-shadow: 5px 5px 30px 7px #00df595e, -5px -5px 30px 7px #00df595e;
}

.card-11:hover {
    box-shadow: 5px 5px 30px 7px #9b7a5f, -5px -5px 30px 7px #9b7a5f;
}



.skillsContainer  {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.lineBoxF {
    height: 107px;
    width: 2px;
    border: solid;
    color: yellow;
}

.lineBoxB {
    height: 107px;
    width: 2px;
    border: solid;
    color: yellow;
}

/*fin cards*/
 /*soft skills*/

.card-soft {
    height: 270px;
    width: 200px;
    transition: 0.5s;
    box-sizing: border-box;
}

.caraFrontal {
    background: #333;
    height: 200px;
    width: 200px;
    z-index: 2;
    position: absolute;
}

.card-soft:hover .caraFrontal {
    transition: 0.5s;
    transform: translateY(-50px);
    background: #ff0057;
}

.caraAtras p {
    margin-left: 5px;
    margin-right: 5px;
}

.caraAtras {
    height: 200px;
    width: 200px;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: flex-end;
    text-align: center;
    background: #fff;
    color: black;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}

.card-soft:hover .caraAtras {
    transition: 0.5s;
    transform: translateY(+50px);
}

.imgSoft img {
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.5;
}

.card-soft:hover .imgSoft img {
    opacity: 1;
}

.card-soft:hover .cardTitulo {
    opacity: 1;
}

.cardTitulo {
    text-align: center;
    opacity: 0.7;
}

.contenedorSoft {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    width: 80%;
}

/*soft skills final*/


.contenedor {
    width: 100%;
    height: 100vh;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .box {
    width: 500px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contenedor .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
}

.contenedor .box .title .block {
    width: 0%;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.contenedor .box .title h1 {
    font-family: 'Poppins';
    color: #fff;
    font-size: 3rem;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

.contenedor .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
}

.contenedor .box .role .block {
    width: 0%;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.contenedor .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    color: #fff;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 5px;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.course {
    background-color: #d1a7ff;
    border-radius: 10px;
    box-shadow: 5px 5px 30px 15px rgb(0 0 0 / 53%);
    display: flex;
    max-width: 100%;
    margin: auto;
    margin-bottom: 2vh;
    overflow: hidden;
    width: 720px;
    height: 200px;
}

.course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 30px;
    max-width: 250px;
    display: flex;
}

.course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}



.course-info {
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

.progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

.progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
}

.progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

.btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.tagBtn-container {
    width: 100%;
}

.tagContainer {
    align-self: center;
}

.visitBtn {
    text-align: end;
    align-self: center;
}

.collapsed {
    color:#ab79af;
}

.accordion {
    background:#3a293a;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-item {
    background-color: initial;
    color: aliceblue;
}

.accordion-item {
    --bs-accordion-border-color: gray;
}

.accordion-button {
    background-color: #5f007ead;
    --bs-accordion-color:#ab79af;
}


.accordion-button:not(.collapsed){
    --bs-accordion-active-color: aliceblue;
}

#head1,#head2,#head3,#head4, #head5 {
    opacity: 0;
}
#head1 {
    -webkit-animation: fadeIn 1 3s ease-in forwards;
    -moz-animation: fadeIn 1 3s ease-in forwards;
    -o-animation: fadeIn 1 3s ease-in forwards;
    animation: fadeIn 1 3s ease-in forwards;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#head2 {
    -webkit-animation: fadeIn 1 3s ease-in forwards;
    -moz-animation: fadeIn 1 3s ease-in forwards;
    -o-animation: fadeIn 1 3s ease-in forwards;
    animation: fadeIn 1 3s ease-in forwards;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

#head3 {
    -webkit-animation: fadeIn 1 3s ease-in forwards;
    -moz-animation: fadeIn 1 3s ease-in forwards;
    -o-animation: fadeIn 1 3s ease-in forwards;
    animation: fadeIn 1 3s ease-in forwards;
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    animation-delay: 2.5s;
}

#head4 {
    -webkit-animation: fadeIn 1 3s ease-in forwards;
    -moz-animation: fadeIn 1 3s ease-in forwards;
    -o-animation: fadeIn 1 3s ease-in forwards;
    animation: fadeIn 1 3s ease-in forwards;
    -webkit-animation-delay: 3.5s;
    -moz-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

#head5 {
    -webkit-animation: fadeIn 1 3s ease-in forwards;
    -moz-animation: fadeIn 1 3s ease-in forwards;
    -o-animation: fadeIn 1 3s ease-in forwards;
    animation: fadeIn 1 3s ease-in forwards;
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -o-animation-delay: 4.5s;
    animation-delay: 4.5s;
}

h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.course-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1530px) {
    #expEd {
        flex-direction: column;
    }

    .course{
        height: 220px;
    }

    .introText {
        padding-left: 0;
    }

    .aboutContainer {
        padding-right: 0;
    }
}

@media screen and (max-width: 660px) {
    .introText {
        display: none;
    }

    #head4 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
    }

    #head5 {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
    }

    .aboutMeText {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .course-title {
        height: 30%;
        width: 100%;
        background-color: #4d45b3;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .course-info {
        padding: 0;
    }

    .expText {
        color: black;
        margin: auto;
        width: 90%;
        height: 70%;
    }

    .course-preview {
        display: none;
    }
}

@media screen and (max-width: 1569px) {
    .lineBoxF {
        height: 214px;
    }
}

@media screen and (max-width: 1319px) {
    .lineBoxB {
        height: 214px;
    }
}

@media screen and (max-width: 631px) {
    .lineBoxB, .lineBoxF {
        height: 321px;
    }
}

@media screen and (max-width: 910px) {
    .card {
        width: 150px;
        height: 150px;
    }

    .card .card_image img {
        width: 65%;
        height: 65%;
    }
}

@media screen and (max-width: 680px) {
    .card {
        width: 150px;
        height: 150px;
        border-radius: 23px;
    }

    .card .card_image img {
        width: 65%;
        height: 65%;
    }

    .card .card_title {
        font-size: 20px;
        margin-top: -42px;
    }
}

@media screen and (max-width: 500px) {
    .card {
        width: 120px;
        height: 50px;
        border-radius: 23px;
    }

    .card .card_image img {
        display:none;
    }

    .card .card_title {
        font-size: 20px;
        margin-top: -42px;
    }
    
    .lineBoxB, .lineBoxF {
        height: 150px;
    }

    .subTitulo {
        margin: 10px;
    }

}

@media screen and (max-width: 800px) {
    .contenedorSoft {
        width: 90%;
    }
    
    .card-soft {
        height: 220px;
        width: 150px;
    }

    .caraFrontal {
        height: 150px;
        width: 150px;
    }

    .imgSoft img {
        max-width: 64px;
    }

    .cardTitulo h3{
        font-size: 20px;
    }

    .caraAtras {
        height: 150px;
        width: 150px;
    }

    .caraAtras p {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .caraAtras {
        height: 148px;
        width: 148px;
        margin-left: 1px;
        margin-top: 1px;
    }
}

@media screen and (max-width: 991px) {
    .proyLogo {
        display: none;
    }

    .proyectoText {
        padding-left: 0px;
    }

}