<section id="intro">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100"
    rel="stylesheet"
  />
  <div class="introTextBox">
    <p id="head1" class="header">¡Hola, Bienvenid@!</p>
    <p id="head2" class="header">
      Soy <span class="nombre">Lucas Joel Mac Gregor</span>
    </p>
    <p id="head3" class="header">Software Developer</p>
    <p id="head4" class="header">
      <button class="boton" routerLink="/portfolio">Continuar</button>
    </p>
  </div>
  <div class="light x1"></div>
  <div class="light x2"></div>
  <div class="light x3"></div>
  <div class="light x4"></div>
  <div class="light x5"></div>
  <div class="light x6"></div>
  <div class="light x7"></div>
  <div class="light x8"></div>
  <div class="light x9"></div>
</section>
