* {
  font-family: Roboto;
}

html {
  width: 100%;
}

body {
  background-color: #D8D8D8;
}

.cabecera {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.fotoChica {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  top: 200px;
}

.skills {
  color: gray;
}

.favicon {
  width: 70px;
}

.banner {
  background-image: url("../assets/images/banner2.jpeg");
  background-size: cover;
  height: 300px;
}

.educLogo {
  max-width: 150px;
  max-height: 150px;
}

.proyLogo {
  max-width: 270px;
  max-height: 270px;
}

.badge {
    margin-right: 7px;
}
/* cards */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

    .card .card_image img {
      width: 75%;
      position: relative;
      height: 75%;
      left: 12%;
      top: 5%;
      object-fit: cover;
      z-index: 2;
    }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -50px;
    height: 40px;
  }

  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15), -5px -5px 30px 15px rgba(0, 0, 0, 0.15);
  }

.title-white {
  color: white;
  z-index: 3;
}

.title-black {
  color: black;
}

.card-1 {
  background-color: coral;
  box-shadow: 5px 5px 30px 7px rgba(227, 79, 38, 0.349), -5px -5px 30px 7px #ff7f5056;
}

.card-2 {
  background-color: cornflowerblue;
  box-shadow: 5px 5px 30px 7px #1b72ba57, -5px -5px 30px 7px #1c88c754;
}

.card-3 {
  background-color: #ffe760;
  box-shadow: 5px 5px 30px 7px #e9cb3257, -5px -5px 30px 7px #ffde2554;
}

.card-4 {
  background-color: rgb(165, 0, 0);
  box-shadow: 5px 5px 30px 7px #dd003050, -5px -5px 30px 7px #c3002e56;
}

.card-5 {
  background: #00059bde;
  box-shadow: 5px 5px 30px 7px #3776a954, -5px -5px 30px 7px #3776a954;
}

.card-6 {
  background: #03094c;
  box-shadow: 5px 5px 30px 7px #03094c57, -5px -5px 30px 7px #28aace59;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

/*fin cards/*

 /*soft skills*/
.contenedor-soft {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .contenedor-soft .card-soft {
    position: relative;
    cursor: pointer;
  }

    .contenedor-soft .card-soft .face {
      width: 200px;
      height: 200px;
      transition: 0.5s;
    }

      .contenedor-soft .card-soft .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
      }

    .contenedor-soft .card-soft:hover .face.face1 {
      background: #ff0057;
      transform: translateY(20px);
    }

    .contenedor-soft .card-soft .face.face1 .content {
      opacity: 0.2;
      transition: 0.5s;
    }

    .contenedor-soft .card-soft:hover .face.face1 .content {
      opacity: 1;
    }

    .contenedor-soft .card-soft .face.face1 .content img {
      max-width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .contenedor-soft .card-soft .face.face1 .content h3 {
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
    }

    .contenedor-soft .card-soft .face.face2 {
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      padding-top: 40px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px);
    }

    .contenedor-soft .card-soft:hover .face.face2 {
      transform: translateY(-20px);
    }

    .contenedor-soft .card-soft .face.face2 .content p {
      margin: 0;
      padding: 0;
    }

    .contenedor-soft .card-soft .face.face2 .content a {
      margin: 15px 0 0;
      display: inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #333;
      padding: 5px;
      border: 1px solid #333;
    }

      .contenedor-soft .card-soft .face.face2 .content a:hover {
        background: #333;
        color: #fff;
      }
/*soft skills final*/
