* {
  font-family: Roboto;
}

html {
  width: 100%;
}

body {
  background-color: #D8D8D8;
}

.cabecera {
  max-width: 100%;
}

.centrado {
  text-align: center;
}

.fotoChica {
  max-width: 150px;
  max-height: 150px;
  position: relative;
  top: 200px;
}

.skills {
  color: gray;
}

.favicon {
  width: 70px;
}

.banner {
  background-image: url("../assets/images/banner2.jpeg");
  background-size: cover;
  height: 300px;
}

.educLogo {
  max-width: 150px;
  max-height: 150px;
}

.proyLogo {
  max-width: 270px;
  max-height: 270px;
}

.proyectoText span {
  font-size: small;
  font-weight: bold;
}

.badge {
    margin-right: 7px;
}
/* cards */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.4s;
}

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

    .card .card_image img {
      width: 75%;
      position: relative;
      height: 75%;
      left: 12%;
      top: 5%;
      object-fit: cover;
      z-index: 2;
    }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -50px;
    height: 40px;
  }

  .card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.15), -5px -5px 30px 15px rgba(0, 0, 0, 0.15);
  }

.title-white {
  color: white;
  z-index: 3;
}

.title-black {
  color: black;
}

.card-1 {
  background-color: coral;
  box-shadow: 5px 5px 30px 7px rgba(227, 79, 38, 0.349), -5px -5px 30px 7px #ff7f5056;
}

.card-2 {
  background-color: cornflowerblue;
  box-shadow: 5px 5px 30px 7px #1b72ba57, -5px -5px 30px 7px #1c88c754;
}

.card-3 {
  background-color: #ffe760;
  box-shadow: 5px 5px 30px 7px #e9cb3257, -5px -5px 30px 7px #ffde2554;
}

.card-4 {
  background-color: rgb(165, 0, 0);
  box-shadow: 5px 5px 30px 7px #dd003050, -5px -5px 30px 7px #c3002e56;
}

.card-5 {
  background: #00059bde;
  box-shadow: 5px 5px 30px 7px #3776a954, -5px -5px 30px 7px #3776a954;
}

.card-6 {
  background: #03094c;
  box-shadow: 5px 5px 30px 7px #03094c57, -5px -5px 30px 7px #28aace59;
}

.card-7 {
  background: #6adeff;
  box-shadow: 5px 5px 30px 7px #5fd2f3, -5px -5px 30px 7px #5fd2f3;
}

.card-8 {
  background: #376400;
  box-shadow: 5px 5px 30px 7px #0062276b, -5px -5px 30px 7px #0062276b;
}

.card-9 {
  background: #ff8cf2;
  box-shadow: 5px 5px 30px 7px #b200df5e, -5px -5px 30px 7px #b200df5e;
}

.card-10 {
  background: #00ffbc;
  box-shadow: 5px 5px 30px 7px #00df595e, -5px -5px 30px 7px #00df595e;
}

.card-11 {
  background: #ff7d14;
  box-shadow: 5px 5px 30px 7px #9b7a5f, -5px -5px 30px 7px #9b7a5f;
}



@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

/*fin cards/*

 /*soft skills*/
.contenedor-soft {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .contenedor-soft .card-soft {
    position: relative;
    cursor: pointer;
  }

    .contenedor-soft .card-soft .face {
      width: 200px;
      height: 200px;
      transition: 0.5s;
    }

      .contenedor-soft .card-soft .face.face1 {
        position: relative;
        background: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
      }

    .contenedor-soft .card-soft:hover .face.face1 {
      background: #ff0057;
      transform: translateY(20px);
    }

    .contenedor-soft .card-soft .face.face1 .content {
      opacity: 0.2;
      transition: 0.5s;
    }

    .contenedor-soft .card-soft:hover .face.face1 .content {
      opacity: 1;
    }

    .contenedor-soft .card-soft .face.face1 .content img {
      max-width: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .contenedor-soft .card-soft .face.face1 .content h3 {
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em;
    }

    .contenedor-soft .card-soft .face.face2 {
      position: relative;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      padding-top: 40px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px);
    }

    .contenedor-soft .card-soft:hover .face.face2 {
      transform: translateY(-20px);
    }

    .contenedor-soft .card-soft .face.face2 .content p {
      margin: 0;
      padding: 0;
    }

    .contenedor-soft .card-soft .face.face2 .content a {
      margin: 15px 0 0;
      display: inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #333;
      padding: 5px;
      border: 1px solid #333;
    }

      .contenedor-soft .card-soft .face.face2 .content a:hover {
        background: #333;
        color: #fff;
      }
/*soft skills final*/



body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#a23982, #1f1013);
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

.boton {
  position: absolute;
  border: 2px solid white;
  background: #b400ff38;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  border-radius: 60px;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

.boton:hover {
  border: 2px solid black;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  color: black;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus {
  outline: none;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

#intro {
  background: radial-gradient(#a23982, #1f1013);
  position: relative;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

.nombre {
  color:#cf83ff;
  font-weight: bold;
}

.introTextBox {
  position: relative;
  display: block;
  margin: auto;
  width: fit-content;
  top: 30vh;
}

.header {
  align-self: center;
  font-weight: bold;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
  opacity: 0;
}

#head1 {
  -webkit-animation: fadeIn 1 3s ease-in forwards;
  -moz-animation: fadeIn 1 3s ease-in forwards;
  -o-animation: fadeIn 1 3s ease-in forwards;
  animation: fadeIn 1 3s ease-in forwards;
}

#head2 {
  -webkit-animation: fadeIn 1 3s ease-in forwards;
  -moz-animation: fadeIn 1 3s ease-in forwards;
  -o-animation: fadeIn 1 3s ease-in forwards;
  animation: fadeIn 1 3s ease-in forwards; 
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

#head3 {
  -webkit-animation: fadeIn 1 3s ease-in forwards;
  -moz-animation: fadeIn 1 3s ease-in forwards;
  -o-animation: fadeIn 1 3s ease-in forwards;
  animation: fadeIn 1 3s ease-in forwards;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3 {
  -webkit-animation: finalFade 1 3s ease-in forwards;
  -moz-animation: finalFade 1 3s ease-in forwards;
  -o-animation: finalFade 1 3s ease-in forwards;
  animation: finalFade 1 3s ease-in forwards;
  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
}

#head4 {
  -webkit-animation: fadeIn 1 3s ease-in forwards;
  -moz-animation: fadeIn 1 3s ease-in forwards;
  -o-animation: fadeIn 1 3s ease-in forwards;
  animation: fadeIn 1 3s ease-in forwards;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  -o-animation-delay: 8s;
  animation-delay: 8s;
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

#footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw, 90vh);
  -moz-transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
}

.contenedor {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor .box {
  width: 500px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
}

.contenedor .box .title .block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}

.contenedor .box .title h1 {
  font-family: 'Poppins';
  color: #fff;
  font-size: 3rem;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

.contenedor .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}

.contenedor .box .role .block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}

.contenedor .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}